<h3 class="mb-5">Create an Account</h3>

<form action="/api/auth/register" method="POST" class="container row" autocomplete="off">

  <div class="col-md-6 mb-4">
    <div data-mdb-input-init class="form-outline">
      <input type="text" id="firstName" name="firstName" class="form-control form-control-lg" required />
      <label for="firstName" class="form-label">First Name</label>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <div data-mdb-input-init class="form-outline">
      <input type="text" id="lastName" name="lastName" class="form-control form-control-lg" required />
      <label for="lastName" class="form-label">Last Name</label>
    </div>
  </div>

  <div class="col-md-6 mb-4 d-flex align-items-center">
    <div data-mdb-input-init class="form-outline datepicker w-100">
      <input type="Date" id="birthdate" name="birthdate" class="form-control form-control-lg" required />
      <label for="birthdate" class="form-label">Birthday</label>
    </div>
  </div>

  <div class="col-md-6 mb-4">
    <h6 class="mb-2 pb-1">Gender: </h6>

    <div class="form-check form-check-inline">
      <input type="radio" id="optionFemale" name="gender" class="form-check-input" value="Female" checked />
      <label class="form-check-label" for="femaleGender">Female</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" id="optionMale" name="gender" class="form-check-input" value="Male" />
      <label class="form-check-label" for="maleGender">Male</label>
    </div>

    <div class="form-check form-check-inline">
      <input type="radio" id="optionOther" name="gender" class="form-check-input" value="Others" />
      <label class="form-check-label" for="otherGender">Other</label>
    </div>
  </div>

  <div class="col-md-6 mb-4 pb-2">
    <div data-mdb-input-init class="form-outline">
      <input type="email" id="email" name="email" class="form-control form-control-lg" required />
      <label class="form-label" for="email">Email</label>
    </div>
  </div>
  <div class="col-md-6 mb-4 pb-2">
    <div data-mdb-input-init class="form-outline">
      <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control form-control-lg" />
      <label class="form-label" for="phoneNumber">Phone Number</label>
    </div>
  </div>

  <div class="col-md-12 mb-4 pb-2">
    <div data-mdb-input-init class="form-outline">
      <input type="password" id="password" name="password" class="form-control form-control-lg" required />
      <label class="form-label" for="password">Password</label>
    </div>
  </div>

  <div class="mt-4 pt-2">
    <input data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit" value="Submit" id="SubmitButton" />
  </div>

</form>